#kof {
  width: 1280px;
  height: 720px;

  background-image: url("/static/images/background/0.gif");
  background-size: 200% 100%;
  background-position: top;
  position: absolute;
}

.kof-head {
  width: 100%;
  height: 80px;
  /* background-color: lightblue; */
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}

.kof-head-hp-0 {
  height: 40px;
  width: calc(50% - 60px);
  border: white 4px solid;
  border-right: none;
  margin-left: 20px;
  box-sizing: border-box;
}

.kof-head-hp-1 {
  height: 40px;
  width: calc(50% - 60px);
  border: white 4px solid;
  border-left: none;
  box-sizing: border-box;
}

.kof-head-timer {
  height: 60px;
  width: 80px;
  background-color: orange;
  border: white 4px solid;
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
  user-select: none;
}

/* 血条底色 */
.kof-head-hp-0-back,
.kof-head-hp-1-back {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.5);
}
/* 让血条对称显示 */
.kof-head-hp-0-back,
.kof-head-hp-0-back-front {
  float: right;
}

/* 血条前景色 */
.kof-head-hp-0-back-front,
.kof-head-hp-1-back-front {
  height: 100%;
  width: 100%;
  background-color: rgb(144, 238, 144);
}
